.container {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 70px;
}

h1, .tagline {
  text-align: center;

}

h1{
  margin-top: 25px;
}

h2{
  margin-bottom: 15px;
}

.tagline{
  font-weight: bold;
  margin-top: -2%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #F9F7F5;
}

/** 130px **/
.header-box{
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.elansing, .chicago{
  <!-This is all placeholder except color. Padding isnt right. Need to host to live server ->
  border-style: none;
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 30px;
  padding-top: 10px;
}

.city-description{
  font-size: 62.5%;
  margin-left: 20px;
  font-weight: bold;
}

.profiles{
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.profile-block{
  border-top-style: solid;
  border-top-color: #CF965B;
  border-width: 2px;
  padding-top: 20px;
}

a{
  text-decoration: none;
  color: #8A00C4;
}
a:hover{
  color: #CF965B;
}
